/* ========== CSS Position ========== */

/* CSS positioning is used to control the placement of elements on a webpage. */

/* Relative Positioning */
/* Absolute Positioning */
/* Static Positioning */
/* Fixed Positioning */
/* Sticky Positioning */

html {
  font-size: 62.5%;
}

.container {
  width: 60rem;
  height: 45rem;
  border: 0.2rem solid black;
  margin: 5rem auto;
  position: relative;
}

.item {
  width: 10rem;
  /* aspect-ratio: 1; */
  height: 10rem;
  background-color: brown;
  font-size: 1.8rem;
  position: absolute;
  /* left: 40rem; */
}

.item4 {
  right: 0;
  bottom: 0;
}

.item3 {
  bottom: 0;
}

.item2 {
  right: 0;
}

.item5 {
  /* left: 25rem;
  top: 17.5rem; */
  /* left: 50%;
  top: 50%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
