/* ========== CSS Shadow Effect ========== */
/* The shadow effect property in CSS is used to add shadows to text and images in HTML documents */

/* text-shadow */
/* box-shadow */

html {
  font-size: 62.5%;
}

.heading {
  font-size: 3rem;
  text-shadow: -15px -15px 5px #520404;
}

.box {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid black;
  font-size: 2rem;
  box-shadow: -1rem -1rem 1rem green;
}

/* ========== CSS Overflow ========== */
/* CSS overflow controls how content is handled when it doesn’t fit inside an element’s box */

/* visible */
/* hidden */
/* scroll */
/* auto */

.content {
  width: 30rem;
  height: 20rem;
  border: 0.2rem solid black;
  font-size: 2rem;
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: auto; */
  overflow: visible;
}
